@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 400;
}