a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 400;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/main1block.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 25px 0 160px 0;
}
.header-wrapper:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
  opacity: 0.9;
}
.header-wrapper header.header {
  display: flex;
  width: 100%;
  padding: 0 150px;
  justify-content: center;
}
.header-wrapper header.header .header__logo {
  margin-right: auto;
}
.header-wrapper header.header .header__link {
  display: flex;
}
.header-wrapper header.header .header__link a {
  margin-right: 32px;
}
.header-wrapper header.header .header__link a.facebook-link svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.header-wrapper header.header .header__link a.youtube-link svg {
  width: 26px;
  height: 20px;
  fill: white;
}
.header-wrapper header.header .header__link a.instagram-link svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.header-wrapper header.header .header__btn a {
  margin: 0 30px;
  color: white;
  padding: 4px 15px;
  border-radius: 7px;
  border: 1px solid #fb9a50;
}
.header-wrapper header.header .header__lang button {
  margin-left: 30px;
  cursor: pointer;
}
.header-wrapper header.header .header__lang button svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.header-wrapper .header-content .header-content__title {
  margin-bottom: 65px;
}
.header-wrapper .header-content .header-content__title h1 {
  color: white;
}
.header-wrapper .header-content .header-content__title h1 span {
  color: #fb9a50;
}
.header-wrapper .header-content .header-content__subtitle {
  margin-bottom: 60px;
}
.header-wrapper .header-content .header-content__subtitle p {
  color: white;
}
.header-wrapper .header-content .header-content__link-store .link-app-store {
  height: fit-content;
  margin-right: 30px;
}
.header-wrapper .header-content .header-content__link-store .link-app-store svg {
  width: 112px;
  height: 37px;
}
.header-wrapper .header-content .header-content__link-store .link-play-market {
  height: fit-content;
}
.header-wrapper .header-content .header-content__link-store .link-play-market svg {
  width: 125px;
  height: 37px;
}

.why-me-wrapper {
  padding: 65px 0 0 0;
  width: auto;
  height: 787px;
  box-shadow: 2px 5px 23px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 436px;
  background-color: #ffffff;
  z-index: 2;
  position: relative;
}
.why-me-wrapper h2 {
  color: #11306d;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.why-me-wrapper .content {
  display: flex;
}
.why-me-wrapper .content__img {
  margin-right: 295px;
}
.why-me-wrapper .content__list .advantages h3 {
  color: #fb9a50;
  margin-bottom: 25px;
}
.why-me-wrapper .content__list .advantages p {
  margin-bottom: 45px;
}

.investments-wrapper {
  background-image: url("../images/3block.png");
  width: auto;
  height: 1580px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-500px);
  padding-top: 500px;
}
.investments-wrapper:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
  opacity: 0.9;
}
.investments-wrapper h2 {
  color: #ffffff;
  font-size: 30px;
  margin: 65px 0 70px 0;
}
.investments-wrapper .investments-wrapper-content .row {
  display: flex;
  justify-content: space-between;
}
.investments-wrapper .investments-wrapper-content .row .invest-advantages {
  margin-bottom: 60px;
  max-width: 468px;
}
.investments-wrapper .investments-wrapper-content .row .invest-advantages h3 {
  color: #fb9a50;
  font-size: 16px;
  text-transform: uppercase;
}
.investments-wrapper .investments-wrapper-content .row .invest-advantages p {
  margin-top: 25px;
  font-size: 16px;
  color: white;
}
.investments-wrapper .investments-wrapper__btn {
  display: flex;
  justify-content: center;
}
.investments-wrapper .investments-wrapper__btn button {
  border-radius: 7px;
  background-color: #fb9a50;
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
}

.my-way-wrapper {
  width: auto;
  height: auto;
  overflow: hidden;
  box-shadow: 2px 5px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 435px 0 1px;
  background-color: #ffffff;
  transform: translateY(-905px);
  padding-top: 60px;
}
.my-way-wrapper h2 {
  color: #11306d;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 130px;
}
.my-way-wrapper .my-way {
  width: 80%;
}
.my-way-wrapper .my-way svg .cls-11 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash2 1.5s linear alternate infinite;
  animation-fill-mode: both;
}
@keyframes dash2 {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.my-way-wrapper .my-way .my-way__container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dadada;
  opacity: 0.5;
}
.my-way-wrapper .my-way .my-way__container .point-mvp {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  align-items: center;
  position: absolute;
  left: 1000px;
  top: -14px;
}
.my-way-wrapper .my-way .my-way__container .point-mvp .point-mvp__circle {
  display: flex;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background: red;
  align-items: center;
  justify-content: center;
}
.my-way-wrapper .my-way .my-way__container .point-mvp p.point-mvp__subtitle {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
