@charset "UTF-8";
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button,
input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 400;
}
body {
  position: relative;
}

.wrapper .menu_white {
  color: white;
}
.wrapper .list-group-item.list-group-item-action.menu_black {
  color: #11306d;
}
.wrapper .list-group {
  position: fixed;
  top: 100px;
  right: 80px;
  text-align: end;
  overflow: hidden;
  z-index: 999;
  font-size: 12px;
}
.wrapper .list-group .list-group-item {
  color: white;
  background: none;
  border: none;
  padding: 0.45rem;
  position: relative;
  right: -45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
.wrapper .list-group .list-group-item:after {
  content: "";
  width: 34px;
  height: 1px;
  margin-left: 10px;
  display: inline-block;
  background-color: #fb9a50;
}
.wrapper .list-group .list-group-item.list-group-item-action.active {
  color: #fb9a50;
  background: none;
  transition: 0.5s ease;
  right: 0;
}
.wrapper .container {
  max-width: 1240px;
}
.wrapper .header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/main1block.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 25px 0 160px 0;
}
.wrapper .header-wrapper:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
  opacity: 0.9;
}
.wrapper .header-wrapper .header {
  display: flex;
  width: 100%;
  padding: 0 150px;
  justify-content: center;
}
.wrapper .header-wrapper .header .header__logo {
  margin-right: auto;
}
.wrapper .header-wrapper .header .header__link {
  display: flex;
}
.wrapper .header-wrapper .header .header__link a {
  margin-right: 32px;
}
.wrapper .header-wrapper .header .header__link a.facebook-link svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.wrapper .header-wrapper .header .header__link a.youtube-link svg {
  width: 26px;
  height: 20px;
  fill: white;
}
.wrapper .header-wrapper .header .header__link a.instagram-link svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.wrapper .header-wrapper .header .header__btn a {
  margin: 0 30px;
  color: white;
  padding: 4px 15px;
  border-radius: 7px;
  border: 1px solid #fb9a50;
}
.wrapper .header-wrapper .header .header__btn a:hover {
  transition: 0.3s ease;
  background: #fb9a50;
}
.wrapper .header-wrapper .header .header__lang button {
  margin-left: 30px;
  cursor: pointer;
}
.wrapper .header-wrapper .header .header__lang button svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.wrapper .header-wrapper .header-content .header-content__title {
  margin-bottom: 65px;
}
.wrapper .header-wrapper .header-content .header-content__title h1 {
  color: white;
}
.wrapper .header-wrapper .header-content .header-content__title h1 span {
  color: #fb9a50;
}
.wrapper .header-wrapper .header-content .header-content__subtitle {
  margin-bottom: 60px;
}
.wrapper .header-wrapper .header-content .header-content__subtitle p {
  color: white;
}
.wrapper .header-wrapper .header-content .header-content__link-store .link-app-store {
  height: fit-content;
  margin-right: 30px;
}
.wrapper .header-wrapper .header-content .header-content__link-store .link-app-store svg {
  width: 112px;
  height: 37px;
}
.wrapper .header-wrapper .header-content .header-content__link-store .link-play-market {
  height: fit-content;
}
.wrapper .header-wrapper .header-content .header-content__link-store .link-play-market svg {
  width: 125px;
  height: 37px;
}
.wrapper .why-me-wrapper {
  padding: 65px 0 125px 0;
  width: auto;
  height: 787px;
  box-shadow: 2px 5px 23px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 436px;
  background-color: #ffffff;
  z-index: 2;
  position: relative;
}
.wrapper .why-me-wrapper h2 {
  color: #11306d;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.wrapper .why-me-wrapper .content {
  display: flex;
  justify-content: space-between;
}
.wrapper .why-me-wrapper .content__list {
  width: 55%;
}
.wrapper .why-me-wrapper .content__list .advantages h3 {
  color: #fb9a50;
  margin-bottom: 25px;
  font-size: 16px;
}
.wrapper .why-me-wrapper .content__list .advantages p {
  margin-bottom: 45px;
  color: #11306d;
  font-size: 16px;
  line-height: 19px;
}
.wrapper .investments-wrapper {
  background-image: url("../images/3block.png");
  width: auto;
  height: 1580px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-500px);
  padding-top: 500px;
}
.wrapper .investments-wrapper .popup-fade {
  display: none;
}
.wrapper .investments-wrapper .popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}
.wrapper .investments-wrapper .popup {
  position: fixed;
  justify-content: center;
  bottom: 33%;
  left: 50%;
  width: 485px;
  margin-left: -200px;
  background: #fff;
  border: 1px solid orange;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
  padding: 90px 0 45px 0;
}
.wrapper .investments-wrapper .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.wrapper .investments-wrapper .popup-close svg {
  width: 20px;
  height: 20px;
}
.wrapper .investments-wrapper .modals-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .investments-wrapper .modals-form input {
  height: 30px;
  border-bottom: 1px solid #fb9a50;
  width: 304px;
  margin-bottom: 35px;
  color: #11306d;
}
.wrapper .investments-wrapper .modals-form input::placeholder {
  color: #fb9a50;
  font-size: 12px;
}
.wrapper .investments-wrapper .modals-form input.modals-form__confirm {
  border-radius: 7px;
  border: none;
  background-color: #fb9a50;
  color: white;
}
.wrapper .investments-wrapper:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
  opacity: 0.9;
}
.wrapper .investments-wrapper h2 {
  color: #ffffff;
  font-size: 30px;
  margin: 65px 0 70px 0;
}
.wrapper .investments-wrapper .investments-wrapper-content .row {
  display: flex;
  justify-content: space-between;
}
.wrapper .investments-wrapper .investments-wrapper-content .row .invest-advantages {
  margin-bottom: 60px;
  max-width: 500px;
}
.wrapper .investments-wrapper .investments-wrapper-content .row .invest-advantages h3 {
  color: #fb9a50;
  font-size: 16px;
  text-transform: uppercase;
}
.wrapper .investments-wrapper .investments-wrapper-content .row .invest-advantages p {
  margin-top: 25px;
  font-size: 16px;
  color: white;
}
.wrapper .investments-wrapper .investments-wrapper__btn {
  display: flex;
  justify-content: center;
}
.wrapper .investments-wrapper .investments-wrapper__btn button {
  border-radius: 7px;
  background-color: #fb9a50;
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
}
.wrapper .my-way-wrapper {
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow: 2px 5px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 435px 0 1px;
  background-color: #ffffff;
  margin-top: -830px;
  padding-top: 60px;
}
.wrapper .my-way-wrapper h2 {
  color: #11306d;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 130px;
}
.wrapper .my-way-wrapper .my-way {
  width: 80%;
}
.wrapper .my-way-wrapper .my-way svg {
  margin-bottom: -45px;
}
.wrapper .my-way-wrapper .my-way__container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.wrapper .my-way-wrapper .my-way__container .point-mvp {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  align-items: center;
  position: relative;
  left: 1000px;
  top: -14px;
}
.wrapper .my-way-wrapper .my-way__container .point-mvp span {
  color: #11306d;
}
.wrapper .my-way-wrapper .my-way__container .point-mvp .point-mvp__circle {
  display: flex;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 2px 5px 9px 1px rgba(0, 0, 0, 0.2);
  color: #fb9a50;
  background-color: #ffffff;
}
.wrapper .my-way-wrapper .my-way__container .point-mvp p.point-mvp__subtitle {
  text-align: center;
  color: #11306d;
  font-size: 14px;
}
.wrapper .my-way-wrapper .my-way__container .q1 {
  top: 1.4rem;
  left: 40%;
  transition: 0.3s ease;
}
.wrapper .my-way-wrapper .my-way__container .q1:before {
  content: "Создание и управление структурой в маркетинговой программе вознаграждений ";
  display: none;
  width: 300px;
  bottom: 43rem;
  position: absolute;
  font-size: 14px;
  color: #fb9a50;
  letter-spacing: 0.35px;
  text-align: center;
}
.wrapper .my-way-wrapper .my-way__container .q1:hover .point-mvp__circle {
  border: 2px solid #fb9a50;
  transition: 0.3s ease;
}
.wrapper .my-way-wrapper .my-way__container .q1:hover.q1:before {
  display: flex;
  transition: 0.5s ease;
}
.wrapper .my-way-wrapper .my-way__container .q2 {
  top: 1.4rem;
  left: 54.8%;
}
.wrapper .my-way-wrapper .my-way__container .q2:before {
  content: "Создание и управление структурой в маркетинговой программе вознаграждений ";
  display: none;
  width: 300px;
  bottom: 43rem;
  position: absolute;
  font-size: 14px;
  color: #fb9a50;
  letter-spacing: 0.35px;
  text-align: center;
}
.wrapper .my-way-wrapper .my-way__container .q2:hover .point-mvp__circle {
  transition: 0.3s ease;
  border: 2px solid #fb9a50;
}
.wrapper .my-way-wrapper .my-way__container .q2:hover.q2:before {
  display: flex;
  transition: 0.5s ease;
}
.wrapper .my-way-wrapper .my-way__container .q3 {
  top: 12.6rem;
  left: 29.8%;
}
.wrapper .my-way-wrapper .my-way__container .q3:before {
  content: "Создание и управление структурой в маркетинговой программе вознаграждений ";
  display: none;
  width: 300px;
  bottom: 29rem;
  position: absolute;
  font-size: 14px;
  color: #fb9a50;
  letter-spacing: 0.35px;
  text-align: center;
}
.wrapper .my-way-wrapper .my-way__container .q3:hover .point-mvp__circle {
  transition: 0.3s ease;
  border: 2px solid #fb9a50;
}
.wrapper .my-way-wrapper .my-way__container .q3:hover.q3:before {
  display: flex;
  transition: 0.5s ease;
}
.wrapper .my-way-wrapper .my-way__container .q4 {
  top: 12.6rem;
  left: 44.5%;
}
.wrapper .my-way-wrapper .my-way__container .q4:before {
  content: "Создание и управление структурой в маркетинговой программе вознаграждений ";
  display: none;
  width: 300px;
  bottom: 29rem;
  position: absolute;
  font-size: 14px;
  color: #fb9a50;
  letter-spacing: 0.35px;
  text-align: center;
}
.wrapper .my-way-wrapper .my-way__container .q4:hover .point-mvp__circle {
  transition: 0.3s ease;
  border: 2px solid #fb9a50;
}
.wrapper .my-way-wrapper .my-way__container .q4:hover.q4:before {
  display: flex;
  transition: 0.5s ease;
}
.wrapper .my-way-wrapper .my-way__container .active {
  border: 2px solid #fb9a50;
  animation: wave 1s ease infinite;
}
.wrapper .my-team-wrapper {
  width: auto;
  background: #11306d;
  background-image: url("../images/5block.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -21rem;
  position: relative;
}
.wrapper .my-team-wrapper:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
  opacity: 0.9;
}
.wrapper .my-team-wrapper .my-team__container {
  padding: 65px 0;
  z-index: 11;
  position: relative;
}
.wrapper .my-team-wrapper .my-team__container .my-team__content h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 120px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__content p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image {
  display: flex;
  justify-content: flex-end;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 {
  width: 452px;
  height: 452px;
  border: 1px solid #9982f8;
  border-radius: 50%;
  background-color: #04437b;
  background-image: radial-gradient(circle 525px at 27% 75%, rgba(4, 67, 123, 0.6) 0%, rgba(153, 130, 248, 0.6) 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 {
  height: 328px;
  width: 328px;
  border: 1px solid #9982f8;
  background-color: #04437b;
  border-radius: 50%;
  background-image: radial-gradient(circle 390px at 37% 92%, rgba(4, 67, 123, 0.6) 0%, rgba(153, 130, 248, 0.6) 100%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 {
  height: 195px;
  width: 195px;
  border: 1px solid #9982f8;
  background-color: #04437b;
  border-radius: 50%;
  background-image: radial-gradient(circle 190px at 31.33% 82.57%, rgba(4, 67, 123, 0.6) 0%, rgba(153, 130, 248, 0.6) 100%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-circle-people {
  height: 40px;
  width: 40px;
  border: 1px solid #9982f8;
  border-radius: 50%;
  background-color: #04437a;
  background-image: radial-gradient(circle 28px at 46.15% 56.87%, rgba(4, 67, 123, 0.6) 0%, rgba(153, 130, 248, 0.6) 100%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-circle-people svg {
  width: 15px;
  height: 20px;
  fill: #9982f8;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .people-2 {
  top: -4px;
  left: 24px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .people-3 {
  top: 97px;
  left: -16px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .people-4 {
  bottom: -16px;
  left: 60px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .people-5 {
  bottom: 32px;
  right: -6px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group {
  position: relative;
  top: 15px;
  right: -6.2rem;
  display: flex;
  align-items: flex-end;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group .people-6 {
  bottom: 3.5rem;
  right: 3rem;
  border: 1px solid #fb9a50;
  position: relative;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group .people-6 svg {
  fill: #fb9a50;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group .people-7 {
  bottom: 3.5rem;
  right: 1.2rem;
  border: 1px solid #fb9a50;
  position: relative;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group .people-7 svg {
  fill: #fb9a50;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group .people-8 {
  bottom: 3.5rem;
  right: -0.3rem;
  border: 1px solid #fb9a50;
  position: relative;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .my-team__image-circle-2 .my-team__image-circle-3 .my-team__image-group .people-8 svg {
  fill: #fb9a50;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-1 {
  top: -7.5rem;
  right: -4rem;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-1:after {
  content: "";
  bottom: -1.5rem;
  right: 4rem;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  border-bottom: 2px solid #fb9a50;
  border-left: 2px solid #fb9a50;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-1:before {
  content: "";
  width: 85px;
  height: 50px;
  display: flex;
  position: absolute;
  border-top: 3px solid #fb9a50;
  border-left: 3px solid #fb9a50;
  border-right: 3px solid #fb9a50;
  border-radius: 51px 51px 0 0;
  transform: rotate(0deg);
  top: 26px;
  right: -12px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-2 {
  top: -11rem;
  right: -4.3rem;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-2:before {
  content: "";
  width: 155px;
  height: 110px;
  display: flex;
  position: absolute;
  border-top: 3px solid #fb9a50;
  border-right: 3px solid #fb9a50;
  border-radius: 82px 60px 0 0;
  transform: rotate(0deg);
  top: 26px;
  right: -25px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-3 {
  top: -14.5rem;
  right: -5rem;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-1 .percent-3:before {
  content: "";
  width: 180px;
  height: 162px;
  display: flex;
  position: absolute;
  border-top: 3px solid #fb9a50;
  border-right: 3px solid #fb9a50;
  border-radius: 108px 80px 0 0;
  transform: rotate(0deg);
  top: 26px;
  right: -25px;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-percent-wrapper {
  position: relative;
}
.wrapper .my-team-wrapper .my-team__container .my-team__image .my-team__image-circle-percent-wrapper .my-team__image-circle-percent {
  width: 52px;
  height: 52px;
  position: relative;
  border: 1.5px solid #fb9a50;
  border-radius: 50%;
  background-color: #04437a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fb9a50;
  background-image: radial-gradient(circle 28px at 46.15% 56.87%, rgba(4, 67, 123, 0.6) 0%, rgba(153, 130, 248, 0.6) 100%);
}
.wrapper .my-creators-wrapper {
  width: auto;
  height: auto;
  padding: 65px 0 130px 0;
  box-shadow: 2px 5px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 436px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.wrapper .my-creators-wrapper .slick-prev {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  border: 1px solid #fb9a50;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(100% + 60px);
  left: 43%;
  padding-right: 4px;
}
.wrapper .my-creators-wrapper .slick-prev:before {
  content: "";
}
.wrapper .my-creators-wrapper .slick-prev svg {
  width: 12px;
  height: 24px;
}
.wrapper .my-creators-wrapper .slick-next {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  border: 1px solid #fb9a50;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(100% + 60px);
  padding-left: 4px;
  right: 43%;
}
.wrapper .my-creators-wrapper .slick-next:before {
  content: "";
}
.wrapper .my-creators-wrapper .slick-next svg {
  width: 12px;
  height: 24px;
}
.wrapper .my-creators-wrapper .main-slider {
  max-width: 1500px;
  margin: 0 auto;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator {
  width: 280px;
  height: 420px;
  box-shadow: 2px 5px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  background-color: #fcfcfc;
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__image {
  height: 335px;
  width: auto;
  border-radius: 45px 45px 0 0;
  margin-bottom: 15px;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__image img {
  width: 100%;
  height: 100%;
  border-radius: 45px 45px 0 0;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__content .creator-name {
  position: relative;
  padding-bottom: 9px;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__content .creator-name:after {
  content: "";
  display: inline-flex;
  height: 1px;
  width: 57px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fb9a50;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__content .creator-name p {
  margin: 0;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__content .creator-position {
  padding-top: 10px;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator .creator__content .creator-position p {
  text-transform: uppercase;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator__info {
  padding: 15px 15px 60px 15px;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  position: absolute;
  top: 21rem;
  z-index: 12;
  overflow: hidden;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator__info p {
  color: #11306d;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator__info .creator-position {
  margin-bottom: 15px;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator__info .creator-info {
  height: 280px;
  overflow: hidden;
}
.wrapper .my-creators-wrapper .main-slider .main-slide .creator:hover .creator__info {
  top: 0;
  transition: 0.3s ease;
  background: #f9f7ff;
}
.wrapper .partners-wrapper {
  background-image: url("../images/7block.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 35rem 0 30px 0;
  margin-top: -30rem;
  z-index: 0;
}
.wrapper .partners-wrapper:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
  opacity: 0.9;
}
.wrapper .partners-wrapper h2 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.wrapper .partners-wrapper .content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .partners-wrapper .content .partner {
  height: 160px;
  display: flex;
  align-items: center;
}
.wrapper .partners-wrapper .content .partner__image {
  display: flex;
  align-items: center;
  height: 70px;
  width: 150px;
  border-radius: 7px;
}
.wrapper .partners-wrapper .content .partner__image img {
  height: 100%;
  width: 100%;
}
.wrapper footer.footer {
  padding: 60px 0 60px 0;
}
.wrapper footer.footer .container {
  display: flex;
  flex-direction: column;
}
.wrapper footer.footer .container .contacts {
  display: flex;
}
.wrapper footer.footer .container .contacts .contact {
  margin-right: 30px;
}
.wrapper footer.footer .container .contacts .contact h2 {
  color: #11306d;
  font-size: 30px;
}
.wrapper footer.footer .container .contacts .address {
  width: 250px;
  position: relative;
  margin-left: 60px;
}
.wrapper footer.footer .container .contacts .address h3 {
  color: #fb9a50;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.wrapper footer.footer .container .contacts .address .address__city p {
  margin-bottom: 15px;
  line-height: 30px;
}
.wrapper footer.footer .container .contacts .address:after {
  content: "";
  display: inline-flex;
  width: 1px;
  height: 28px;
  position: absolute;
  background-color: #fb9a50;
  top: 30px;
  right: 0px;
}
.wrapper footer.footer .container .contacts .phone {
  width: 250px;
  position: relative;
  margin-left: 60px;
}
.wrapper footer.footer .container .contacts .phone h3 {
  color: #fb9a50;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.wrapper footer.footer .container .contacts .phone .phone__numbers p {
  line-height: 30px;
}
.wrapper footer.footer .container .contacts .phone:after {
  content: "";
  display: inline-flex;
  width: 1px;
  height: 28px;
  position: absolute;
  background-color: #fb9a50;
  top: 30px;
  right: 0px;
}
.wrapper footer.footer .container .contacts .mail {
  width: 250px;
  margin-left: 60px;
}
.wrapper footer.footer .container .contacts .mail h3 {
  color: #fb9a50;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.wrapper footer.footer .container .contacts .mail .mail__address p {
  line-height: 30px;
}
.wrapper footer.footer .footer_link {
  display: flex;
}
.wrapper footer.footer .footer_link .link-social {
  margin-right: 155px;
  padding-left: 240px;
}
.wrapper footer.footer .footer_link .link-social a.facebook-link {
  margin-right: 33px;
}
.wrapper footer.footer .footer_link .link-social a.facebook-link svg {
  width: 20px;
  height: 20px;
  fill: #fb9a50;
}
.wrapper footer.footer .footer_link .link-social a.youtube-link {
  margin-right: 33px;
}
.wrapper footer.footer .footer_link .link-social a.youtube-link svg {
  width: 26px;
  height: 20px;
  fill: #fb9a50;
}
.wrapper footer.footer .footer_link .link-social a.instagram-link svg {
  width: 20px;
  height: 20px;
  fill: #fb9a50;
}
.wrapper footer.footer .footer_link .link-market .link-app-store {
  display: inline-block;
  margin-right: 195px;
}
.wrapper footer.footer .footer_link .link-market .link-app-store svg {
  width: 112px;
  height: 37px;
}
.wrapper footer.footer .footer_link .link-market .link-play-market {
  display: inline-block;
}
.wrapper footer.footer .footer_link .link-market .link-play-market svg {
  width: 125px;
  height: 37px;
}

#my {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3400;
  animation: draw 10s linear reverse infinite;
  fill: none;
  stroke: #11306d;
  /* stroke-miterlimit:10;  */
  stroke-width: 4px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes wave {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
