@import "reset";
@import "font";
.container {
  max-width: 1240px;
  margin: 0 auto;
}

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/main1block.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 25px 0 160px 0 ;
    &:after{
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: -1;
      position: absolute;
      background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
      opacity: 0.9;
    }
    header.header {
      display: flex;
      width: 100%;
      padding: 0 150px;
      justify-content: center;
      .header__logo {
        margin-right: auto;
        a {
          img {}
        }
      }
      .header__link {
        display: flex;
        a {
          margin-right: 32px ;
        }
        a.facebook-link {
        svg {
          width: 20px;
          height: 20px;
          fill: white;
        }
        }
        a.youtube-link {
          svg {
            width: 26px;
            height: 20px;
            fill: white;
          }
        }
        a.instagram-link {
          svg {
            width: 20px;
            height: 20px;
            fill: white;
          }
        }
      }
      .header__btn {
        a {
          margin: 0 30px ;
          color: white;
          padding: 4px 15px;
          border-radius: 7px;
          border: 1px solid #fb9a50;
        }
      }
      .header__lang {
        button {
          margin-left: 30px;
          cursor: pointer;
         svg {
           width: 20px;
           height: 20px;
           fill: white;
         }
        }
      }
    }
    .header-content {
      .header-content__title {
        margin-bottom: 65px;
        h1 {
          color: white;
          span{
            color: #fb9a50;
          }
        }
      }
      .header-content__subtitle {
        margin-bottom: 60px;
        p {
          color: white;
        }
      }
      .header-content__link-store {
        .link-app-store {
          height:fit-content;
          margin-right: 30px;

          svg{
            width: 112px;
            height: 37px;
          }
        }
        .link-play-market {
          height: fit-content;
          svg {
            width: 125px;
            height: 37px;
          }
        }
      }
    }

  }
  .why-me-wrapper {
    padding: 65px 0 0 0 ;
    width: auto;
    height: 787px;
    box-shadow: 2px 5px 23px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 436px;
    background-color: #ffffff;
    z-index: 2;
    position: relative;
    h2{
      color: #11306d;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .content{
      display: flex;
      &__img {
        margin-right: 295px;
      }
      &__list{
        .advantages{
          h3{
            color: #fb9a50;
            margin-bottom: 25px;
          }
          p{
            margin-bottom: 45px ;
          }
        }
      }
    }
  }
  .investments-wrapper {
    background-image: url("../images/3block.png");
    width: auto;
    height: 1580px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-500px);
    padding-top: 500px;
    &:after{
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: -1;
      position: absolute;
      background-image: linear-gradient(to right, rgba(48, 87, 165, 0.88) 0%, rgba(48, 87, 165, 0.88) 19%, rgba(17, 48, 109, 0.88) 79%, rgba(17, 48, 109, 0.88) 89%);
      opacity: 0.9;
    }
    h2 {
      color: #ffffff;
      font-size: 30px;
      margin: 65px 0 70px 0  ;
    }
    .investments-wrapper-content {
      .row {
          display: flex;
        justify-content: space-between;
        .invest-advantages {
          margin-bottom: 60px;
          max-width: 468px;

          h3 {
            color: #fb9a50;
            font-size: 16px;
            text-transform: uppercase;
          }
          p {
            margin-top: 25px;
            font-size: 16px;
            color: white;
          }
        }
      }
    }
    .investments-wrapper__btn {
      display: flex;
      justify-content: center;
      button {
        border-radius: 7px;
        background-color: #fb9a50;
        color: white;
        padding: 15px 30px;
        text-transform: uppercase;

      }
    }
  }

.my-way-wrapper {
  width: auto;
  height: auto;
  overflow: hidden;
  box-shadow: 2px 5px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 435px 0 1px;
  background-color: #ffffff;
  transform: translateY(-905px);
  padding-top: 60px;
    h2 {
      color: #11306d;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      margin-bottom: 130px;

    }
  .my-way {
    width: 80%;

    svg {
      .cls-11 {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: dash2 1.5s linear alternate infinite;
        animation-fill-mode: both;
      }

      @keyframes dash2 {
        from {
          stroke-dashoffset: 500;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
    .my-way__container {
      position: absolute;

      width: 100%;
      height: 100%;
      background: #dadada;
      opacity: 0.5;
      .point-mvp {
        display: flex;
        flex-direction: column;
        max-width: 100px;
        align-items: center;
        position: absolute;
        left: 1000px;
        top: -14px;
        span {}
        .point-mvp__circle {
          display: flex;
          border-radius: 50%;
          height: 65px;
          width: 65px;
          background: red;
          align-items: center;
          justify-content: center;
        }
        p.point-mvp__subtitle {
          text-align: center;
        }
      }
    }

  }
}


