a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
button,
input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
li {
  list-style: none;
}
